@import url(//db.onlinewebfonts.com/c/d2d21cf0ee4c1d969d8a4dccc587ab26?family=Flexo+Medium);

@font-face {font-family: "Flexo Medium"; src: url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot"); src: url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff") format("woff"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo Medium") format("svg"); }

body{
    color: black;
    font-weight: bold;
}

div {
    display: inline-block;
}

header .navBar{
    background:rgb(201, 201, 202);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px 25px;
}

header nav a{
    font-family: "Flexo Medium";
    margin-right: 10px;
    font-size: 40px;
    color: black;
    text-decoration: none;
}

header nav a:hover{
    color: rgb(26, 127, 241);
}

.fa-solid{
    margin-top: 5px;
}

#before{
    font-family: "Flexo Medium";
}

.container{
    margin-top: 25px;
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.imagem {
    width: 490px;
    height: 500px;
    background-color: transparent;    
}

.statusPoke {
    width: 500px;
    height: 500px;
    background-color: transparent;
    float: right;
    font-size: 19px;
    font-family: "Flexo Medium";    
}

#paragrafo{
    margin-top: 0px;
}

.nomePrincipal{
    text-align: center;
    font-family: "Flexo Medium";   
    margin-top: 0px;
}

#img{
    width: 90%;
    height: 90%;
    background: rgb(241, 240, 240);
    border-radius: 15px;
    margin-left: 25px;
}

.elementosPoke{
    font-family: "Flexo Medium";
    display: flex;
    margin-top: -15px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: rgb(192, 189, 189);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(27, 27, 27);
    border-radius: 30px;
}