@font-face {font-family: "Flexo Medium"; src: url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot"); src: url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff") format("woff"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo Medium") format("svg"); }

body{
    background: #424242 url(../img/container_bg.png);
}

.logo{
    background: linear-gradient(9000deg, white, red);
    text-align: center;
}

#navMenu{
    background-color: white;
}

.nav-link{
    font-size: 25px;
    font-family: "Flexo Medium";
    margin-bottom: 5px;
}

.nav-link:hover
{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        background-color: rgb(248, 242, 242);
        transition: .3s ease all;
}

.logoGinasio{
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 30px;
}

#liderGinasio{
    font-weight: bold;
}

.logoGinasioDois{
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 30px;
}

.logoGinasioTres{
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 30px;
}

.kanto{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

a {
    color: blue;
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: rgb(192, 189, 189);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(27, 27, 27);
    border-radius: 30px;
}