@import url(//db.onlinewebfonts.com/c/d2d21cf0ee4c1d969d8a4dccc587ab26?family=Flexo+Medium);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {font-family: "Flexo Medium"; src: url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot"); src: url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff") format("woff"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo Medium") format("svg"); }

body{
    background: #424242 url(../img/container_bg.png);
}

body.dark-mode{
    background: black url(../img/container_bg.png);
}

#sound{
    width: 250px;
    height: 30px;
    border-radius: 20px;
}

.random-button{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 20px;
    display: grid;
    place-items: center;
}

#random{
    border-radius: 10px;
    font-weight: bold;
    font-family: "Flexo Medium";
    padding: 5px 15px;
    background-color: rgb(158, 51, 56);
    border: 3px rgb(158, 51, 56) solid;
    color: white;
    letter-spacing: 2px;
}

#random:hover{
    color: rgb(192, 189, 189);
    animation: tremer .1s;
    animation-iteration-count: 2;
    transform: scale(1.2,1.2);
}

/* keyframe para ajustar até onde treme */
@keyframes tremer {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}

#toggle {
    display: none;
}

.button {
    display: inline-block;
    width: 90px;
    height: 35px;
    background-color: rgb(231, 220, 220);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.button::after {
    content: url('/img/lightmode.png');
    width: 35px;
    height: 39px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -5px;
    left: 0;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color 1s,
        transform 1s ease-in;
}

#toggle:checked+.button::after {
    content: url('/img/darkmode.png');
    transform: translateX(50px) rotate(360deg);
}

.logo{
    background: linear-gradient(9000deg, white, red);
    text-align: center;
}

.navMenu{
    background-color: white;
    margin-top: -1px;
}

.pokeIcon{
    margin-right: 10px;
}

#pokeball_img{
    margin-right: 5px;
}

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
    color: rgb(182, 179, 179);
}

#back-to-top:hover {
    cursor: pointer;
    color: rgb(114, 23, 23);
    transition: 0.5s;
}

.distanciaLogo{
    margin-top: 25px;
}

.container{
    font-weight: bold;
    background: white;
    border-radius: 15px;
    color: black;
}

.container-dark-mode{
    font-weight: bold;
    background: rgb(40,42,54);
    border-radius: 15px;
    color: white;
}

.img-container img{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .img-container:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

.numeroPoke{
    font-family: "Flexo Medium";
    color:gray;
    font-size: 13px;
    margin-right: 160px;
}

.fonteNomePoke{
    font-family: "Flexo Medium";
    font-size:22px;
    display: flex;
    margin-left: 30px;
    margin-top: -10px;
}

.elementosPoke{
    font-family: "Flexo Medium";
    display: flex;
    margin-left: 30px;
    margin-top: -15px;
    margin-bottom: 20px;
}

.classeGeracao{
    font-size: 40px;
    font-family: "Flexo Medium";
    display: flex;
    flex-direction: row;
    align-items: center;
}

.classeGeracaoKanto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    font-family: "Flexo Medium";
}

.selecaoPokemon{
    text-align: left;
    font-size: 20px;
    font-family: "Flexo Medium";
    margin-left: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

.selecaoPokemonKanto{
    text-align: left;
    font-size: 20px;
    font-family: "Flexo Medium";
    border: 3px solid black;
    border-radius: 10px;
    margin-left: -100px;
}

.nav-link{
    margin-top: 5px;
    font-size: 25px;
    font-family: "Flexo Medium";
    margin-bottom: 5px;
}

.nav-link:hover
{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        background-color: rgb(248, 242, 242);
        transition: .3s ease all;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: rgb(192, 189, 189);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(27, 27, 27);
    border-radius: 30px;
}

#rodape{
    font-size: 25px;
}
