@media screen and (max-width:1000px){
    .logo_img{
        width: 200px;
    }

    .pokeball_img{
        width: 50px;
    }

    .numeroPoke{
        margin: auto;
    }

    .fonteNomePoke{
        display: block;
        margin: auto;
    }

    .elementosPoke{
        display: inline-flex;
        margin: auto;
    }

    .propriedades{
        margin: auto;
    }

    #rodape{
        font-size: 15px;
    }
}