@media screen and (max-width:1000px){
    .logo_img{
        width: 200px;
    }

    .pokeball_img{
        width: 50px;
    }
    
    .titulo{
        margin-left: 20px;
        font-size: 2em;
    }

    .imgMorty{
        display: inline-block;
        margin-left: 20px;
    }

    .imagemMorty{
        margin-left: 50px;
    }

    .imagemMortyDois{
        margin-left: 95px;
    }

    .descricao{
        margin-left: 10px;
        width: 92%;
        font-size: 15px;
    }
}